@model TimeMate.Models.RegisterViewModel
@{
    ViewData["Title"] = "Registreren";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/js/register.js"></script>

<h1>Maak een account aan</h1>

<hr />

<div>Voor niet gehele getallen, gebruikt een komma in plaats van een punt.</div>

<div>Wachwoordeisen</div>
<ul>
    <li>Minimaal 9 tekens lang</li>
    <li>1 hoofdletter bevatten</li>
    <li>1 cijfer bevatten</li>
    <li>1 speciale teken bevatten</li>
</ul>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mail" class="control-label"></label>
                <input asp-for="Mail" class="form-control" />
                <span asp-validation-for="Mail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobAmount" class="control-label"></label>
                <input asp-for="JobAmount" class="form-control" id="job-amount" min="0" max="2"/>
                <span asp-validation-for="JobAmount" class="text-danger"></span>
            </div>

            <div class="d-none" id="job1">
                <div class="form-group">
                    <label asp-for="@Model.job1HourlyWage" class="control-label"></label>
                    <input asp-for="@Model.job1HourlyWage" class="form-control" />
                    <span asp-validation-for="@Model.job1HourlyWage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.job1DayType" class="control-label"></label>
                    <select asp-for="@Model.job1DayType" class="form-control">
                        <option></option>
                        <option>Doordeweeks</option>
                        <option>Weekend</option>
                    </select>
                    <span asp-validation-for="@Model.job1DayType" class="text-danger"></span>
                </div>
            </div>

            <div class="d-none" id="job2">
                <div class="form-group">
                    <label asp-for="@Model.job2HourlyWage" class="control-label"></label>
                    <input asp-for="@Model.job2HourlyWage" class="form-control" />
                    <span asp-validation-for="@Model.job2HourlyWage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.job2DayType" class="control-label"></label>
                    <select asp-for="@Model.job2DayType" class="form-control">
                        <option></option>
                        <option>Doordeweeks</option>
                        <option>Weekend</option>
                    </select>
                    <span asp-validation-for="@Model.job2DayType" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <input id="registerButton" type="submit" value="Registeer" class="btn btn-success" />
                <input id="goLoginButton" type="button" value="Terug naar inloggen" onclick="location.href='@Url.Action("Index", "Account")'" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
