@model List<DataAccessLayer.DTO.AppointmentDTO>

@{
    ViewData["Title"] = "Agenda weergave";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/AgendaView.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/AgendaView.css" />

<div class="row">
    <div class="col">
        <h1>Agenda weergave</h1>
    </div>
</div>

<br />
<div class="row">
    <div class="col">
        <input type="button" value="Normale afspraak toevoegen" onclick="location.href='@Url.Action("Index", "NormalAppointment")'" class="btn btn-success" />
        <input type="button" value="Afspraak met takenlijst toevoegen" onclick="location.href='@Url.Action("Index", "ChecklistAppointment")'" class="btn btn-success" />
        <input type="button" value="Agenda toevoegen" onclick="location.href='@Url.Action("AddAgenda", "Agenda")'" class="btn btn-success" />
    </div>
</div>

<br />
<table id="appointmentTable">
    <tr>
        <th>Afspraaknaam</th>
        <th>Startdatum/tijd</th>
        <th>Einddatum/tijd</th>
        <th>Agendanaam</th>
        <th>Extra informatie</th>
        <th>Bewerken</th>
    </tr>
    @for (int i = 0; i < Model.Count; i++)
    {
        <tr>
            <td class="appointmentName">@Model[i].AppointmentName</td>
            <td>@Model[i].StartDate</td>
            <td>@Model[i].EndDate</td>
            <td id="@Model[i].AgendaID">@Model[i].AgendaName</td>
            <td>
                @if (Model[i].DescriptionDTO.Description != null)
                {
                    @Model[i].DescriptionDTO.Description
                }
                @if (Model[i].ChecklistDTOs != null)
                {
                    @foreach (var item in Model[i].ChecklistDTOs)
                    {
                        <label id="@item.TaskID">@item.TaskName </label>
                        <label>@item.TaskChecked</label>
                        <br />
                    }
                }
            </td>
            <td>
                <button type="button" class="btn btn-danger changeAppointment" data-toggle="modal" data-target="#changeModal">
                    afspraak bewerken
                </button>
            </td>
        </tr>
    }
</table>

<!-- Modal for Changing details -->
<div class="modal" id="changeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Veranderen van afspraakgegevens</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                Taken van deze afspraak bewerken
                <input type="text" />
                <button type="button" class="btn btn-info" data-dismiss="modal">Naam wijzigen</button>
                <button type="button" class="btn btn-info" data-dismiss="modal">Naam niet wijzigen</button>
            </div>

        </div>
    </div>
</div>

