@model List<Core.DTOs.AppointmentDTO>

@{
    ViewData["Title"] = "Agenda weergave";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/agenda-view.js"></script>
<link rel="stylesheet" type="text/css" href="~/css/agendaview.css" />

<div class="row">
    <div class="col">
        <h1>Agenda weergave</h1>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-8">
        <input type="button" value="Normale afspraak toevoegen" onclick="location.href='@Url.Action("Index", "NormalAppointment")'" class="btn btn-primary" />
        <input type="button" value="Afspraak met takenlijst toevoegen" onclick="location.href='@Url.Action("Index", "ChecklistAppointment")'" class="btn btn-primary" />
        <input type="button" value="Agenda toevoegen" onclick="location.href='@Url.Action("AddAgenda", "Agenda")'" class="btn btn-success" />
    </div>
    <div class="col-md-4 pt-2">
        @if (ViewBag.pay != null)
        {
            <div>
                Werkuren deze week: @ViewBag.hours
                Weekloon: €@ViewBag.pay
            </div>
        }
    </div>
</div>

@if (Model.Count != 0)
{
    <br />
    <table id="appointmentTable">
        <tr>
            <th>Afspraaknaam</th>
            <th>Startdatum/tijd</th>
            <th>Einddatum/tijd</th>
            <th>Agendanaam</th>
            <th>Taken</th>
            <th>Extra</th>
        </tr>
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td id="@Model[i].AppointmentID" class="appointment-name">@Model[i].AppointmentName</td>
                <td>@Model[i].StartDate</td>
                <td>@Model[i].EndDate</td>
                <td id="@Model[i].AgendaID">@Model[i].AgendaName</td>
                <td>
                    @if (Model[i].TaskList != null)
                    {
                        @foreach (var item in Model[i].TaskList)
                        {
                            <label class="@item.TaskID">@item.TaskName</label>
                            <label>@item.TaskChecked</label>
                            <br />
                        }
                    }
                </td>
                <td>
                    <button type="button" class="btn btn-danger extra-modal" data-toggle="modal" data-target="#extra-modal">
                        Extra's weergeven
                    </button>
                </td>
            </tr>
        }
    </table>

    <div class="modal" id="extra-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Afspraakextra weergeven</h4>
                    <button type="button" class="close" data-dismiss="modal" onclick="HideModalElements()">&times;</button>
                </div>
                <div class="modal-body">
                    <div id="modal-task-info" class="d-none">Taken van deze afspraak aan/afvinken.</div>
                    <div id="modal-task-description" class="d-none"></div>
                    <select id="tasks" class="d-none"></select>
                    <button type="button" id="checkoff-task" class="btn btn-info d-none" data-dismiss="modal" onclick="ChangeTaskStatus()">aan/afvinken</button>
                </div>

            </div>
        </div>
    </div>
}
else
{
    <div>Er bestaan geen afspraken voor dit account. Gebruik bovenstaande knoppen om afspraken/agenda's te maken.</div>
}



